@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.form {
    width: 544px;
    border: 1px solid #E7E7E7;
    margin: 0 auto;
    padding:0 32px 40px 32px;

}
.form {

}

.a1{
font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    width: 239px;
    border: none;
    background-color: white;
    font-size: 24px;
   text-align: center;
}
.li2:hover {
    border-bottom: 1px solid black;

}
.li2{
    margin-left: 20px;
}